version: 1.0.{build}-{branch}

branches:
  except:
    - gh-pages

image: Visual Studio 2015

init:
  - git config --global core.autocrlf input

clone_folder: c:\projects\clibuart

platform:
  - x86
  - x64

configuration:
  - Debug
  - Release

build:
  parallel: true
  verbosity: normal

build_script:
  - cmd: if "%platform%"=="x86" build32.bat
  - cmd: if "%platform%"=="x64" build64.bat
